---
pagination:
  data: blogs
  size: 1
  alias: blog
permalink: "/{{ blog.key }}/feed.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
<channel>
	<title>{{ site.title }} - {{ blog.title }}</title>
	<link>{{ site.url }}/{{ blog.key }}.html</link>
	<description>{{ blog.title }}</description>
{%- for item in collections.posts | whereEq("data.blog", blog.key) %}{% if loop.index <= 20 %}
	<item>
		<title>{{ item.data.title }}</title>
		<link>{{ site.url }}{{ item.url }}</link>
		<guid>{{ site.url }}{{ item.url }}</guid>
		<pubDate>{{ item.date | rfc822 }}</pubDate>
		<description>{{ item | postHtml | absoluteUrls(site.url) }}</description>
	</item>
{%- endif %}{% endfor %}
</channel>
</rss>
